body {
    font-size: 20px;
    background: #f80;
}

.a,
.b,
.c {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    color: #fff;
}

.a {
    background: url(../assets/icon-index/icon1.png);
}

.b {
    background: url(../assets/icon-index/icon2.png);
}

.c {
    background: url(../assets/img1.png);
}

@media (iphone4) {
    div {
        width: 100pm;
        height: 100rm;
    }
}
