.icon1 {
    width: 96rm;
    height: 96rm;
    background: url(../assets/icon-index/img1.png);
}
.icon2 {
    width: 94rm;
    height: 88rm;
    background: url(../assets/icon-index/img2.png);
}
div{
    color:blue
}